<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
</head>
<body>
    <h1>Malik Edwards</h1>
    <p>I am final year student at the University of the West Indies pursuing a
        Bsc. Electronics and Computer Science. I really enjoy anything about
        football whether playing, watching or discussing; football is life!
        <br>
        I am interested in Web Development because I enjoy all types of
        programming essentially and building applications from them. So Web
        Development is just a next avenue that I can express my creativity.
    </p>
</body>
</html>